.overlay {
  position: fixed;
  inset: 0;
  background-color: #f5efe4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}
.full,
.top,
.bottom {
  width: 140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.full {
  top: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 35%; /* чуть выше центра */
  z-index: 2;
}

.bottom {
  top: 55%; /* чуть ниже центра */
  z-index: 1;
}
