.card {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  user-select: none;
}

/* Conteneur interne : tourne seulement quand on ajoute la classe .flipped */
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

/* Classe appliquée dynamiquement */
.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
  backface-visibility: hidden; 
  flex-direction: column;
}

.front {
  z-index: 2;
  gap: 10px;;
}
/* ProjetCard.module.css */
.titleLogo {
  height: clamp(28px, 4cqw, 44px);
  max-width: 90%;
  object-fit: contain;
  display: block;
  margin: 20px auto;
}
.title { margin: 8px 0 12px; }

.back {
  background: white;
  transform: rotateY(180deg);
  text-align: left;
  gap:15px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 70%;
  object-position: bottom;
}
.projectcardbottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -1rem;
}

.flipArrow {
  background: none;
  border: none;
  color: #333;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flipArrow:hover {
  transform: scale(1.2);
}

.flipArrow:focus {
  outline: 2px solid #aaa;
}

/* Variante pour la face arrière (flèche tournée à gauche) */
.flipBack {
  transform: rotateY(180deg);
}


