.about { width: 45%; 
flex:1;
    background-color: white;
    aspect-ratio: 0.67;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 0;
    z-index: 1;
}
.about h2{
  text-align: center;
  padding: 10% 0 3% 0;
  font-weight: bold;
 font-family: var(--logo-font);
}
.about p{
  text-align: center;
  padding: 4% 16% 0 16% ;
}

.first::first-letter {
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  padding-top: 4px;
  color: #8B0000; /* Rouge foncé impérial */
  font-family: 'Marcellus', 'Georgia', serif; /* ou une fonte style cyrillique stylisée */
  text-shadow: 1px 1px 0 #300000;
}
/* Responsive */
@media (max-width: 768px) {
  .about{
    width: 50%
  }
}