/* Ovale About : même taille que le médaillon */
.about {
  flex:1 1;
  aspect-ratio: 2 / 3;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  container-type: inline-size;
  height: 100%;
  }
/* typo fluide bornée (évite l’effet “rond”) */
.about h2 {
  font-family: var(--logo-font);
  font-weight: 700;
  margin:8%;
    /* optionnel mais joli sur 2–3 lignes */
  text-wrap: balance;
  hyphens: manual; /* on évite les césures automatiques dans le titre */
}
.about p {
  margin: 6%;
  line-height: 1.5;
   hyphens: auto;
  -webkit-hyphens: auto;     /* Safari/iOS */
  overflow-wrap: break-word;  /* casse proprement les très longs mots/URLs */
  word-break: normal;         /* pas de cassures “sauvages” */
}
 .about h2 { font-size: clamp(28px, 7cqw, 44px); }
  .about p  { font-size: clamp(17px, 5.5cqw, 40px); }


.first::first-letter {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1;
  padding-top: 2px;
  color: #8B0000;
  font-family: 'Marcellus','Georgia',serif;
  text-shadow: 1px 1px 0 #300000;
}

/* couture invisible (si besoin) */
@media (max-width: 768px) {
  .about {width: 100%;
  margin-top: -150%;}
  .about h2 { font-size: clamp(20px, 7.6vw, 44px); }   /* ~26.25px à 375px */
.about p  { font-size: clamp(12px, 5.2vw, 80px); } /* ~19.5px à 375px, max relevé à 20 */
}