.header {
  display: flex; justify-content: space-between; align-items: center;flex-direction: column;
  padding: var(--spacing); 
  background: var(--header-bg);
}
.header_up{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right {
  display: flex;
  flex-wrap: wrap;justify-content: center;align-items:center;gap: 5px;
}

.right select {
  padding: 0.4rem 0.3rem; border-radius: 4px; border: 1px solid var(--text);
  background: var(--cream); cursor: pointer;
  appearance: none;}
.option{
  font-size: 20px;
  font-family: var(--logo-font);
}

.themeButton {
  border: 1px solid;
  border-radius: 4px;
  background: var(--cream); cursor: pointer;
  padding: 0 0.1rem;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: rotate(10deg) scale(1.1);
}
.header_bottom {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  gap: 0.5rem;
  width: 100%;
}